<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>오늘 뭐 먹지?!</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script>
            $(".fun-btn").on("click", function(event) {
                $(this).toggleClass("start-fun")
                var $page = $(".page")
                $page.toggleClass("color-bg-start").toggleClass("bg-animate-color")

                //change text when when button is clicked

                $(this).hasClass("start-fun")
                    ? $(this).text("stop the fun")
                    : $(this).text("start the fun")
            })
        </script>
    </head>
    <body>
        <div class="page">
            <div class="today">오늘 뭐 먹지 ?</div>
            <br /><br />
            <button class="fun-btn">정해줄게!</button>
        </div>
    </body>
</html>
